.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(229, 84, 115, 0.10);
    margin-left: 100px;

}
.banner-title{
    font-weight: 800;
    width: 500px;
    font-size: 60px;
    border: 0px solid;
}
.flower{
  display: flex;
  justify-content: end;
  height: 580px;
  width: 430px;
}
.banner-description{
    width: 604px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.btn-clr{
    border-radius: 8px;
    background: #E55473;
    display: inline-flex;
    padding: 18px 40px;
    border-style: none;
    margin-top: 5px;
}
.section-container{
}
.section-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 50px;
}
.des{
    width: 494px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-left: 30%;
}
.section-flower{
  justify-content: center;
  display: flex;
  border: 2px solid;
  margin: 40px 130px 25px 130px;
  background-color: #FFF;;
  border-style: none;
  padding-bottom: 0px;
}
.first{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    text-align: center;
    text-decoration: underline;
}
.second{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    text-align: center;
    text-decoration: underline;
 

    
}
.third{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    text-align: center;
    text-decoration: underline;
}
.shop{
    justify-content: center;
    display: flex;
    border-radius: 8px;
    background: rgba(153, 112, 112, 0.05);
    margin: 40px 150px 40px 150px;
    padding: 60px 0px 60px 0px;
}
.shop1{
    padding-right: 70px;
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
}
.shop2{
    padding-right: 70px;
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
}
.shop3{
    padding-right: 70px;
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
}
.off{
    color: #E55473;
}
.deal-description{
    width: 550px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
}
.deal-container{
    margin: 80px 0px 80px 0px;
    background-color: rgb(243, 237, 239);
    padding-top: 40px;
}
.deal-container{
    justify-content: center;
    display: flex;

}
.deal-all{
    color: #272727;
font-size: 27px;
}
.deal-all{
    text-align: center;
    margin-top: 80px;
}
.insta-container{
    text-align: center;
}
.ins-title{
    color: #272727;
text-align: center;
font-size: 40px;
}
.ins-des{
    width: 500px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    margin-left: 30%;
}
.picture{
    width: 342px;
height: 396px;
display: flex;
margin: 30px;
}
.last-bnr{
   background: url('./image/Rectangle\ 9.png');
   background-repeat: no-repeat;
   background-position: center;
   max-width: 100%;
   margin: 30px 60px 30px 60px;
  
}
.email{
    width: 700px;
    height: 60px;
    margin-bottom: 80px;
    margin-top: 30px;
    border-radius: 5px;
    border-style: none;
    background-color: #FFFFFF;
}
.bnr{
    text-align: center;
    padding-top: 40px;
}
.bnr-title{
    color: #272727;
   font-size: 40px;
   font-weight: 800;
    line-height: normal;
}


